@page "/main"

<img src="images/welcome.png" alt="welcome" style=" width: 25%;height: 25%; margin-left: 37%;">


<h1 style="text-align: center; font-family: -webkit-body; color:#821ef4; font-size: 50px">Welcome to our page</h1>
<div style="font-family: -webkit-body; background-color:white;font-size: 30px; text-align: center">
<p>where you can manage data and view statistics about adults in families</p></div>